body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 10px;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #017bf5;
}

#leaderboard-table th {
    text-align: center;
}

#leaderboard-table {
    display: none;
}

#roster-table-body {
    display: none;
}

#leaderboard-btn {
    display: none;
}

#total-score {
    display: none;
}

/* .table-responsive {
    display: none;
} */

#roster-display {
    margin-top: 30px;
}

#roster-table-body td {
    text-align: center;
}

#total-score {
    background-color: #017bf5;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #017bf5;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        padding: 0 15px;
    }

    table, th, td {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }

    .btn {
        padding: 8px 15px;
        font-size: 14px;
    }

    #total-score {
        font-size: 1.2em;
        padding: 10px;
    }
}

/* Responsive Table with Horizontal Scrolling */
.table-responsive {
    overflow-x: auto;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    th, td {
        padding: 8px;
        font-size: 14px;
    }
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
    display: none; /* Hidden by default */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.strikethrough-row td {
    text-decoration: line-through;
}

